.products-container{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px; 
    row-gap: 50px; 
}

//*added to seperate titles in shop page a bit more. 
.title{
    margin: 20px 0 20px 0; 
}